# Python
__pycache__/
*.py[cod]
*.pyo
.env
venv/
.venv/
*.db
*.sqlite3

# Node
node_modules/
dist/
.DS_Store

# Imágenes subidas por usuario (no las de marca)
backend/static/images/llantas/LL*.jpg
backend/static/images/llantas/LL*.png
backend/static/images/llantas/LL*.webp

# IDEs
.vscode/
.idea/
